@charset "utf-8";

/*
Author: Swati Tamrakar

Portfolio
*/
html
{   
   margin: 0px;
   padding: 0px;
   height: 100px;
   
   background-image: url(../images/wallpaper.jpg);

}
header, ul, nav, li, a
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 h1
{
	color: rgb(0,255,255);
	font-size: 58px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "Yatra One";
}
body p 
{
	margin-top: 12px;
	color: white;
	font-size:20px;
	
	line-height: 25px;
}
p::first-line
{
	font-variant: small-caps;
	
}
body header nav
{
	float:left;
	text-align:center;
}
body 
{
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif 
}
nav.links
{
	width: auto;
	padding-right: 40%;
}
nav.links li a:hover
{
	color: red;
}
nav.links li a:active
{
	color: purple;
}
ul.mainnav
{
    list-style-type: none;
    margin-top:5%;
    padding: 0;
    overflow: hidden;
	font-variant: small-caps;
	font-size: 30px;
	font-weight: bold;
}
ul.goallinks
{
	list-style-type: none;
    margin-top:5%;
    padding: 0;
    overflow: hidden;
	font-size: 15px;
	width:auto;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 10px 50px;
    text-decoration: none;
}

aside
{
	padding-top: 10px;
	padding-left: 10px;
	width: 45%;
	float: right;
	box-shadow: rgb(51,51,51) -10px 0px 50px, rgb(51,51,51) 10px 0px 50px;	
	display: inline-table;
}
aside ul
{
	width: auto;
	float: right;
	display: inline-table;
	
}
 nav.goals li a
{
	display: inline-table;
	font-size: 20px;
	font-weight: bold;
}
 nav.goals
{
	width: auto;
	float: right;
	
}
section
{
	width: 50%;
	float: left;
	box-shadow: rgb(51,51,51) -10px 0px 50px, rgb(51,51,51) 10px 0px 50px;
	background-color: #212020;
	border-radius: 25px;
	
}

footer
{
	clear: both;
	padding-top:100px;
	text-align:right;
	font-size: 1em;
	color: gray;
}
/*responsive screen */
@media only screen and (max-width : 480px)
{
	
	nav.links{
		font-size: 1em;
		line-height: 2.2em;
	}
}

@media only screen and (max-width : 600px)
{
	nav.links
	{
		display: block;
		padding-right: 40%;
	}
		ul.mainnav a
	{
	    padding: 10px 20px;
	}
}
@media only screen and (min-width : 707px)
{
	nav.links
	{
		display: block;
		padding-right: 20%;
	}
		ul.mainnav a
	{
	    padding: 10px 20px;
	}
}

@media only screen and (min-width : 1018px)
{
	nav.links
	{
		display: block;
		width: auto;
	}
	ul.mainnav a
	{
	    padding: 10px 30px;
	}
}